In [8]:
import pandas as pd

# Read CSV file using pandas
df = pd.read_csv('D:\\AM\\Week 6\\Iowa_Liquor_Sales.csv')
df

C:\Users\suvad\AppData\Local\Temp\ipykernel_21068\544666358.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('D:\\AM\\Week 6\\Iowa_Liquor_Sales.csv')

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,S29198800001,11/20/2015,2191,Keokuk Spirits,1013 MAIN,KEOKUK,52632,"1013 MAIN\nKEOKUK 52632\n(40.39978, -91.387531)",56.0,Lee,...,297,Templeton Rye w/Flask,6,750,$18.09,$27.14,6,$162.84,4.50,1.19
1,S29195400002,11/21/2015,2205,Ding's Honk And Holler,900 E WASHINGTON,CLARINDA,51632,"900 E WASHINGTON\nCLARINDA 51632\n(40.739238, ...",73.0,Page,...,297,Templeton Rye w/Flask,6,750,$18.09,$27.14,12,$325.68,9.00,2.38
2,S29050300001,11/16/2015,3549,Quicker Liquor Store,1414 48TH ST,FORT MADISON,52627,"1414 48TH ST\nFORT MADISON 52627\n(40.624226, ...",56.0,Lee,...,249,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,20,150,$6.40,$9.60,2,$19.20,0.30,0.08
3,S28867700001,11/04/2015,2513,Hy-Vee Food Store #2 / Iowa City,812 S 1ST AVE,IOWA CITY,52240,812 S 1ST AVE\nIOWA CITY 52240\n,52.0,Johnson,...,237,Knob Creek w/ Crystal Decanter,3,1750,$35.55,$53.34,3,$160.02,5.25,1.39
4,S29050800001,11/17/2015,3942,Twin Town Liquor,104 HIGHWAY 30 WEST,TOLEDO,52342,"104 HIGHWAY 30 WEST\nTOLEDO 52342\n(41.985887,...",86.0,Tama,...,249,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,20,150,$6.40,$9.60,2,$19.20,0.30,0.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12591072,INV-08368000074,10/31/2017,5423,Stammer Liquor Corp,615 2nd Ave,Sheldon,51201,"615 2nd Ave\nSheldon 51201\n(43.184614, -95.85...",71.0,OBRIEN,...,73802,FrappaChata Iced Coffee Blend,12,800,$8.00,$12.00,3,$12.00,2.40,0.63
12591073,INV-08368000075,10/31/2017,5423,Stammer Liquor Corp,615 2nd Ave,Sheldon,51201,"615 2nd Ave\nSheldon 51201\n(43.184614, -95.85...",71.0,OBRIEN,...,20375,Old Forester Statesman,6,750,$27.48,$41.22,2,$41.22,1.50,0.39
12591074,INV-08368000076,10/31/2017,5423,Stammer Liquor Corp,615 2nd Ave,Sheldon,51201,"615 2nd Ave\nSheldon 51201\n(43.184614, -95.85...",71.0,OBRIEN,...,20372,Old Forester 1897 Whisky Row Series,6,750,$24.98,$37.47,2,$37.47,1.50,0.39
12591075,INV-08368000077,10/31/2017,5423,Stammer Liquor Corp,615 2nd Ave,Sheldon,51201,"615 2nd Ave\nSheldon 51201\n(43.184614, -95.85...",71.0,OBRIEN,...,20369,Old Forester 1870 Whisky Row Series,6,750,$22.49,$33.74,2,$33.74,1.50,0.39
12591076,INV-08368000078,10/31/2017,5423,Stammer Liquor Corp,615 2nd Ave,Sheldon,51201,"615 2nd Ave\nSheldon 51201\n(43.184614, -95.85...",71.0,OBRIEN,...,77309,Sugarlands Shine Peanut Butter & Jelly Moonshine,6,750,$13.00,$19.50,2,$19.50,1.50,0.39

In [11]:
import modin.pandas as mpd

# Read CSV file using Modin (which uses pandas backend by default)
df1 = mpd.read_csv('D:\\AM\\Week 6\\Iowa_Liquor_Sales.csv')
df1

UserWarning: Ray execution environment not yet initialized. Initializing...
To remove this warning, run the following python code before doing dataframe operations:

    import ray
    ray.init()

2023-06-11 10:48:44,842	INFO worker.py:1636 -- Started a local Ray instance.
UserWarning: `read_*` implementation has mismatches with pandas:
Data types of partitions are different! Please refer to the troubleshooting section of the Modin documentation to fix this issue.

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,S29198800001,11/20/2015,2191,Keokuk Spirits,1013 MAIN,KEOKUK,52632,"1013 MAIN\nKEOKUK 52632\n(40.39978, -91.387531)",56.0,Lee,...,297,Templeton Rye w/Flask,6,750,$18.09,$27.14,6,$162.84,4.50,1.19
1,S29195400002,11/21/2015,2205,Ding's Honk And Holler,900 E WASHINGTON,CLARINDA,51632,"900 E WASHINGTON\nCLARINDA 51632\n(40.739238, ...",73.0,Page,...,297,Templeton Rye w/Flask,6,750,$18.09,$27.14,12,$325.68,9.00,2.38
2,S29050300001,11/16/2015,3549,Quicker Liquor Store,1414 48TH ST,FORT MADISON,52627,"1414 48TH ST\nFORT MADISON 52627\n(40.624226, ...",56.0,Lee,...,249,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,20,150,$6.40,$9.60,2,$19.20,0.30,0.08
3,S28867700001,11/04/2015,2513,Hy-Vee Food Store #2 / Iowa City,812 S 1ST AVE,IOWA CITY,52240,812 S 1ST AVE\nIOWA CITY 52240\n,52.0,Johnson,...,237,Knob Creek w/ Crystal Decanter,3,1750,$35.55,$53.34,3,$160.02,5.25,1.39
4,S29050800001,11/17/2015,3942,Twin Town Liquor,104 HIGHWAY 30 WEST,TOLEDO,52342,"104 HIGHWAY 30 WEST\nTOLEDO 52342\n(41.985887,...",86.0,Tama,...,249,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,20,150,$6.40,$9.60,2,$19.20,0.30,0.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12591072,INV-08368000074,10/31/2017,5423,Stammer Liquor Corp,615 2nd Ave,Sheldon,51201.0,"615 2nd Ave\nSheldon 51201\n(43.184614, -95.85...",71.0,OBRIEN,...,73802,FrappaChata Iced Coffee Blend,12,800,$8.00,$12.00,3,$12.00,2.40,0.63
12591073,INV-08368000075,10/31/2017,5423,Stammer Liquor Corp,615 2nd Ave,Sheldon,51201.0,"615 2nd Ave\nSheldon 51201\n(43.184614, -95.85...",71.0,OBRIEN,...,20375,Old Forester Statesman,6,750,$27.48,$41.22,2,$41.22,1.50,0.39
12591074,INV-08368000076,10/31/2017,5423,Stammer Liquor Corp,615 2nd Ave,Sheldon,51201.0,"615 2nd Ave\nSheldon 51201\n(43.184614, -95.85...",71.0,OBRIEN,...,20372,Old Forester 1897 Whisky Row Series,6,750,$24.98,$37.47,2,$37.47,1.50,0.39
12591075,INV-08368000077,10/31/2017,5423,Stammer Liquor Corp,615 2nd Ave,Sheldon,51201.0,"615 2nd Ave\nSheldon 51201\n(43.184614, -95.85...",71.0,OBRIEN,...,20369,Old Forester 1870 Whisky Row Series,6,750,$22.49,$33.74,2,$33.74,1.50,0.39
12591076,INV-08368000078,10/31/2017,5423,Stammer Liquor Corp,615 2nd Ave,Sheldon,51201.0,"615 2nd Ave\nSheldon 51201\n(43.184614, -95.85...",71.0,OBRIEN,...,77309,Sugarlands Shine Peanut Butter & Jelly Moonshine,6,750,$13.00,$19.50,2,$19.50,1.50,0.39

In [12]:
# Remove special characters and white spaces from column names
df.columns = df.columns.str.replace('[^\w\s]', '')  # Remove special characters
df.columns = df.columns.str.strip()  # Remove leading and trailing white spaces

# Display the modified column names
print(df.columns)

Index(['InvoiceItem Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume ml',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale Dollars', 'Volume Sold Liters', 'Volume Sold Gallons'],
      dtype='object')

FutureWarning: The default value of regex will change from True to False in a future version.

In [14]:
import pandas as pd
import yaml

# Read the YAML file to get column names and separator
with open('D:\AM\Week 6\schema.yml', 'r') as yaml_file:
    schema = yaml.safe_load(yaml_file)

column_names = schema['column_names']
separator = schema['separator']

# Write the modified DataFrame to a new CSV file using the specified separator
df.to_csv('D:\AM\Week 6\output_file.csv', sep=separator, index=False)

# Write the column names to the YAML file
schema['column_names'] = list(df.columns)
with open('schema.yaml', 'w') as yaml_file:
    yaml.safe_dump(schema, yaml_file)

In [17]:
import pandas as pd
import yaml

# Read the YAML file to get column names and separator
with open('D:\AM\Week 6\schema.yml', 'r') as yaml_file:
    schema = yaml.safe_load(yaml_file)

column_names_yaml = schema['column_names']
separator = schema['separator']


# Validate number of columns
if len(column_names_yaml) != len(df.columns):
    print("Number of columns in the file does not match the YAML schema.")

# Validate column names
if set(column_names_yaml) != set(df.columns):
    print("Column names in the file do not match the YAML schema.")

# Perform any necessary data processing or validation on the DataFrame

# Write the modified DataFrame to a new CSV file using the specified separator
df.to_csv('D:\AM\Week 6\output_file.csv', sep=separator, index=False)

# Write the column names to the YAML file
schema['column_names'] = list(df.columns)
with open('schema.yaml', 'w') as yaml_file:
    yaml.safe_dump(schema, yaml_file)

In [18]:
df.to_csv('D:\AM\Week 6\output_file.txt.gz', sep=',', index=False, compression='gzip')

In [20]:
import os
import pandas as pd
import math


# Get the total number of rows and columns
num_rows = df.shape[0]
num_columns = df.shape[1]

# Get the file size
file_size = os.path.getsize('D:\\AM\\Week 6\\Iowa_Liquor_Sales.csv')

# Convert file size to human-readable format
def convert_size(size_bytes):
    if size_bytes == 0:
        return "0B"
    size_names = ("B", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB")
    i = int(math.floor(math.log(size_bytes, 1024)))
    p = math.pow(1024, i)
    size = round(size_bytes / p, 2)
    return f"{size}{size_names[i]}"

file_size = convert_size(file_size)

# Print the summary
print("File Summary:")
print(f"Total number of rows: {num_rows}")
print(f"Total number of columns: {num_columns}")
print(f"File size: {file_size}")

File Summary:
Total number of rows: 12591077
Total number of columns: 24
File size: 3.23GB

In [21]:
import os
import gzip
import pandas as pd
import math

# Specify the path to the gzipped file
gz_file_path = 'D:\AM\Week 6\output_file.txt.gz'

# Read the gzipped file using gzip.open
with gzip.open(gz_file_path, 'rt') as file:
    # Read the file using pandas read_csv
    df = pd.read_csv(file, sep='|')

# Get the total number of rows and columns
num_rows = df.shape[0]
num_columns = df.shape[1]

# Get the file size
file_size = os.path.getsize(gz_file_path)

# Convert file size to human-readable format
def convert_size(size_bytes):
    if size_bytes == 0:
        return "0B"
    size_names = ("B", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB")
    i = int(math.floor(math.log(size_bytes, 1024)))
    p = math.pow(1024, i)
    size = round(size_bytes / p, 2)
    return f"{size}{size_names[i]}"

file_size = convert_size(file_size)

# Print the summary
print("File Summary:")
print(f"Total number of rows: {num_rows}")
print(f"Total number of columns: {num_columns}")
print(f"File size: {file_size}")

File Summary:
Total number of rows: 36970399
Total number of columns: 1
File size: 722.57MB